<strong>Olá, {{ provider }}</strong>
<p>Há um novo agendamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/hora: </strong> {{date}}<br />
  <br />
  <small>
    Entre no app para mais informações.
  </small>
</p>